<div class="card truncate">
  @if (project.cardImg) {
    <img class="card-img-top" [src]="project.cardImg" />
  }
  <!--TODO different form for mobile devices-->
  <div class="card-body">
    <h5 class="card-title">
      <span class="me-1"
        >{{ project.title }}
        @if (isIndustryPosition(project)) {
          <span> &#64; {{ project.company }}</span>
        }
      </span>
      <project-attribute-icon-list [project]="project" />
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ renderDate() }}</h6>
    <p class="card-text">{{ project.shortDesc }}</p>
    <a [routerLink]="getLink()" class="card-link">Read More</a>
  </div>
  <div class="card-footer">
    @for (tech of project.technologies; track tech) {
      <app-technology-badge [tech]="tech" class="ms-1" />
    }
  </div>
</div>
