<div class="container-fluid mx-auto">
  <h1>Independent Projects</h1>

  <div class="d-flex mb-4">
    <p class="text-center my-auto w-100">
      Projects I have had the pleasure of working on in the past outside of a course or internship environment
    </p>
  </div>
  <div class="row mb-2">
    <div class="col-md-auto">
      <div class="form-group row">
        <label for="typeahead-focus" class="col-sm-auto col-form-label">Filter by Technology</label>
        <input id="typeahead-focus" type="text" class="col form-control" [formControl]="selectedTechnology" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead"/>
      </div>
    </div>
    <div class="col-md-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ordering by</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="sort('date', -1)">Order By Date Desc</button>
          <button ngbDropdownItem (click)="sort('date', 1)">Order By Date Asc</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" #grid>
  <!--div class="grid-sizer col-md-4 col-lg-3"></div-->
  @for (project of selectedProjects; track project.title) {
    <div class="grid-item col-md-6 col-lg-4 col-xl-3">
      <app-project-item [project]="project"/>
    </div>
  }
</div>
</div>