<h1>Past Projects</h1>
<p>Projects I have had the pleasure of working on in the past outside of a course environment</p>
<div class="grid" #grid>
  <!--div class="grid-sizer col-md-4 col-lg-3"></div-->
  <div class="grid-item col-md-6 col-lg-4 col-xl-3" *ngFor="let project of projects">
    <div class="card">
      <img *ngIf="project.cardImg" class="card-img-top" src="{{project.cardImg}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          {{project.title}}
          <fa-icon *ngIf="project.awards.length > 0" [icon]="['fas', 'award']" [title]="getAwardsJoined(project.awards)"></fa-icon>
          <fa-icon *ngIf="project.hackathon" [icon]="['fas', 'lightbulb']" title="Hackathon Project"></fa-icon>
          <fa-icon *ngIf="project.startup" [icon]="['fas', 'flask']" title="Startup Weekend Project"></fa-icon>
        </h5>
        <p class="card-text">{{project.shortDesc}}</p>
      </div>
      <div class="card-footer text-muted">
        <a [routerLink]="'/project/' + project.slug" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>