<div class="row justify-content-md-center m-2" *ngIf="project$ | async as project">
  <div class="col-md">
    <h1>{{project.title}}</h1>
    <h2>{{project.dates}}</h2>
    <div>
      <b *ngIf="project.outcomes || project.challenge">Description:</b>
      <p *ngIf="project.desc.length > 0; else noDesc">{{project.desc}}</p>
      <ng-template #noDesc><p>{{project.shortDesc}}</p></ng-template>
    </div>
    <ng-container *ngIf="project.challenge">
      <div>
        <b>Favorite Challenge:</b>
        <p>{{project.challenge}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="project.outcomes">
      <div>
        <b>Outcomes:</b>
        <p>{{project.outcomes}}</p>
      </div>
    </ng-container>
    <span *ngIf="project.technologies && project.technologies.length">
      Built on: 
      <span *ngFor="let tech of project.technologies" [style.background-color]="getColor(tech)" class="badge">{{tech}}</span>
    </span>
    <br>
    <ng-container *ngIf="project.awards && project.awards.length">
      <h4 class="mt-3">Awards:</h4>
      <div *ngFor="let award of project.awards">
        <b>{{award.award}}</b> ({{award.from}}) - {{award.date}}
        <br>
      </div>
    </ng-container>
    <ng-container *ngIf="project.links && project.links.length">
      <h4 class="mt-3">Links:</h4>
      <div *ngFor="let link of project.links">
        <span *ngIf="link.type; else linkStr">
          <fa-icon [icon]="getIcon(link.type)"></fa-icon>
          <a [href]="link.link" class="ml-1">{{link.link}}</a> {{link.desc}}
        </span>
        <ng-template #linkStr>
          <a [href]="link">{{link}}</a>
        </ng-template>
        <br>
      </div>
    </ng-container>
  </div>
  <div class="col-md-auto" id="projectImg">
    <img *ngIf="project.img" class="img-fluid d-block mx-auto border border-dark" src="{{project.img}}" alt="Card image cap">
  </div>
</div>