<div class="container-xl mx-auto">
  <div class="row justify-content-md-center m-2" *ngIf="project$ | async as project; else notFound">
    <div>
      <h1 class="mb-0">{{project.title}}</h1>
      <h2>{{project.startDate}} - {{project.endDate || 'Current'}}</h2>
    </div>
    <div [class.col-lg-7]="project.imgs">
      <div>
        <b *ngIf="project.outcomes || project.challenge">Description</b>
        <p>{{project.desc || project.shortDesc}}</p>
      </div>
      <text-section title="Outcomes" [text]="project.outcomes"/>
      <text-section title="Favorite Challenge" [text]="project.challenge"/>
      <technology-badge-list [technologies]="project.technologies"/>
      <br>
      <ng-container *ngIf="project.awards && project.awards.length">
        <h4 class="mt-3">Awards</h4>
        <div *ngFor="let award of project.awards">
          <b>{{award.award}}</b> ({{award.from}}) - {{award.date}}
          <br>
        </div>
      </ng-container>
      <ng-container *ngIf="project.links && project.links.length">
        <h4 class="mt-3">Links</h4>
        <div *ngFor="let link of project.links">
          <link-item [link]="link"/>
          <br>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-5" *ngIf="project.imgs">
      <h4 class="mt-3 d-lg-none">Screenshots</h4>
      <ng-container *ngFor="let img of project.imgs">
        <screenshot-item [img]="img"/>
      </ng-container>
    </div>
  </div>
  <ng-template #notFound>
    <p>
      Course not found
    </p>
  </ng-template>
</div>