<span style="white-space: nowrap">
  @if (attributes().awards && attributes().awards.length > 0) {
    <fa-icon [icon]="['fas', 'award']" [title]="getAwardsJoined(attributes().awards)" />
  }
  @if (attributes().hackathon) {
    <fa-icon [icon]="['fas', 'lightbulb']" title="Hackathon Project" />
  }
  @if (attributes().startup) {
    <fa-icon [icon]="['fas', 'flask']" title="Startup Weekend Project" />
  }
  @if (attributes().live) {
    <fa-icon [icon]="['fab', 'chrome']" title="Live Product" />
  }
</span>
