<div class="container-xl mx-auto">
  <detail-view [title]="title()" [subtitle]="subtitle()">
    <app-view
      [description]="industryPosition().desc"
      [imgs]="industryPosition().imgs"
      [links]="industryPosition().links ?? []"
      [awards]="industryPosition().awards ?? []"
      [outcomes]="industryPosition().outcomes"
      [challenge]="industryPosition().challenge"
      [future]="industryPosition().future"
      [technologies]="industryPosition().technologies ?? []"
    />
    @for (project of industryPosition().projects ?? []; track project.title) {
      <br />
      <div>
        <h4>Project: {{ project.title }}</h4>
        @if (project.launchDate) {
          <h5>{{ project.launchDate }}</h5>
        }
        <app-view
          [description]="project.desc"
          [imgs]="project.imgs"
          [links]="project.links ?? []"
          [awards]="project.awards ?? []"
          [outcomes]="project.outcomes"
          [challenge]="project.challenge"
          [future]="project.future"
          [technologies]="project.technologies ?? []"
          flush
        />
      </div>
    }
  </detail-view>
</div>
