<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-lg mx-auto">
    <a class="navbar-brand" routerLink="/">John Meyer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/project" routerLinkActive="link-active" (click)="isCollapsed = true">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/industry" routerLinkActive="link-active" (click)="isCollapsed=true">Industry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course" routerLinkActive="link-active" (click)="isCollapsed=true">Coursework</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="link-active" (click)="isCollapsed = true">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="pt-4 pl-2 pr-2">
  <router-outlet></router-outlet>
</div>