<div class="card">
  <img *ngIf="project.cardImg" class="card-img-top" [src]="project.cardImg">
  <!--TODO different form for mobile devices-->
  <div class="card-body">
    <h5 class="card-title">
      <span class="me-1">{{project.title}}</span>
      <project-attribute-icon-list [project]="project"/>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{project.startDate}} - {{project.endDate || 'Current'}}</h6>
    <p class="card-text">{{project.shortDesc}}</p>
    <a [routerLink]="'/project/' + project.slug" class="card-link">Read More</a>
  </div>
  <div *ngIf="project.technologies?.length" class="card-footer"><!--.text-muted-->
    <app-technology-badge *ngFor="let tech of project.technologies" [tech]="tech" style="margin-right: 5px"></app-technology-badge>
  </div>
</div>