<h1>Past Projects</h1>
<p>Projects I have had the pleasure of working on in the past outside of a course environment</p>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let project of projects">
    <div class="card">
      <img *ngIf="project.cardImg" class="card-img-top" src="{{project.cardImg}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.shortDesc}}</p>
      </div>
      <div class="card-footer text-muted">
        <a [routerLink]="'/project/' + project.slug" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>