<div class="container-xl mx-auto">
  <detail-view [title]="course().name" [subtitle]="subtitle()">
    <h4>Formal Class Description</h4>
    <p>{{ course().desc }}</p>
    @if (course().projects?.length) {
      <div>
        @for (project of course().projects; track project; let index = $index) {
          <div>
            <h4>Project: {{ project.title }}</h4>
            <app-view
              [description]="project.desc"
              [imgs]="project.imgs"
              [links]="project.links ?? []"
              [awards]="project.awards ?? []"
              [outcomes]="project.outcomes"
              [challenge]="project.challenge"
              [future]="project.future"
              [technologies]="project.technologies ?? []"
              flush
            />
            @if (index !== 0) {
              <br />
            }
          </div>
        }
      </div>
    }
  </detail-view>
</div>
