<div class="row">
  <div class="col-md-10 col-lg-9">
    <h1>John Meyer's Portfolio Website</h1>
    <p>
      Please take a look at the work I have done through projects, classes, and internships using the above links.
    </p>
  </div>
  <div class="col-md-2 col-lg-3 order-11">
    <img class="img-fluid d-block mx-auto" src="/assets/profile-pic.jpg">
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h2>Favorite Projects</h2>
    <div #grid class="row">
      <div *ngFor="let project of selected" class="col-md-4 col-xl-3 col-sm-6 grid-item">
        <app-home-item [project]="project"></app-home-item>
      </div>
    </div>
  </div>
</div>